:root{
    --primary: #35A3E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(76,2,241);
    background: linear-gradient(90deg, rgba(76,2,241,1) 0%, rgba(6,4,74,1) 100%);
    font-family: Helvetica, Arial, sans-serif;
}

.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo{
    color: var(--primary);
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.container{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    position: relative;
}

.container header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
}

.container header.sticky{
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}

.container header nav{
    width: 90%;
}

.container header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.container header nav ul li a{
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--primary);
    padding: 10px 20px;
}

.container header nav ul li a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	background: var(--primary);
	
	transform: translate(-50%, -50%);
	transition: ease .9s;
}

.container header nav ul li a:hover::before{
	width: 100%;
	height: 4px;
    border-radius: 2px;
}

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);
}

.apresentacao--titulo, .container--img{
    width: 100%;
}

.apresentacao--titulo h1{
    color: #fff;
    font-size: 44px;
    text-align: left;
}

.apresentacao--titulo h1 strong{
    color: var(--primary);
}

.sobre-container, .container-card{
    margin-bottom: 100px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.container-sobre p{
    color: #fff;
    font-size: 24px;
    line-height: 27.6px;
    /* font-weight: 700; */
    margin-bottom: 20px;
}

.container-card{
    flex: calc(100% / 30%);
    justify-content: space-between;
}

.card{
    width: 100%;
}

.card-header{
    padding: 10px;
}

.card-header h4{
    color: #fff;
    font-size: 24px;
}

.card-body{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

.card-footer {
    text-align: center;
}

.card-footer a{
    text-decoration: none;
    color: #06044A;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer{
    padding: 20px;
    background: #06044A;
    text-align: center;
    color: #fff;
}