:root{
    --primary: #35A3E6;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(76,2,241);
    background: linear-gradient(90deg, rgba(76,2,241,1) 0%, rgba(6,4,74,1) 100%);
    font-family: Helvetica, Arial, sans-serif;
    scrollbar-width: thin;
    scrollbar-color: #06044a var(--primary);
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--primary);
}

body::-webkit-scrollbar-thumb {
    background-color: #06044a;
    border-radius: 20px;
    border: 1px solid var(--primary);
}

.flex{
    display: flex;
    align-items: center;
    gap: 20px;
}

.titulo{
    color: var(--primary);
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

.container{
    min-height: 100vh;
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    /* position: relative; */
}

#logo {
    font-size: 1.5rem;
    font-weight: bold;
}
  
#header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.6s;
    min-height: 60px;
    z-index: 999;
}

#header.sticky{
    background: inherit;
    box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
}
  
#menu {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

#nav{
    width: 100%;
}
  
#menu a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--primary);
    padding: 10px 20px;
    position: relative;
}

#menu a::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	background: var(--primary);
	
	transform: translate(-50%, -50%);
	transition: ease .9s;
}

#menu a:hover::before{
	width: 100%;
	height: 4px;
    border-radius: 2px;
}
  
#btn-mobile {
    display: none;
}
  

.apresentacao{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 60px);
}

.apresentacao--titulo, .container--img{
    width: 100%;
}

.apresentacao--titulo h1{
    color: #fff;
    font-size: 44px;
    text-align: left;
}

.wave {
    animation-name: wave-animation;
    animation-duration: 2.1s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

.apresentacao--titulo h1 strong{
    color: var(--primary);
}

.sobre-container, .container-card{
    margin-bottom: 100px;
}

.img-fluid{
    max-width: 100%;
    height: auto;
}

.container-sobre p{
    color: #fff;
    font-size: 24px;
    line-height: 27.6px;
    /* font-weight: 700; */
    margin-bottom: 20px;
}

.ferramentas{
    margin-bottom: 100px;
}

.container-card-ferramentas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-content: center;
}

.card-ferramentas{
    text-align: center;
}

.card-body-ferramentas{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    border: 2px solid var(--primary);
    height: 150px;
}

.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    justify-content: center;
}

.card{
    width: 100%;
    height: auto;
}

.card-header{
    padding: 10px;
}

.card-header h4{
    color: #fff;
    font-size: 24px;
}

.card-body{
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    height: auto;
}

.card-body img{
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.card-footer {
    text-align: center;
}

.card-footer a{
    display: inline-block;
    text-decoration: none;
    color: #06044A;
    background: var(--primary);
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: #06044A;
    color: #fff;
}

.social a{
    display: inline-block;
    width: 27px;
    margin-left: 10px;
}

@keyframes wave-animation {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    } 
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    } 
    100% {
      transform: rotate(0deg);
    }
}

@media(max-width: 900px) {
    #header{
        background: inherit;
        box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }

    .button-content{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
    }

    .apresentacao--titulo h1{
        font-size: 36px;
    }

    .titulo{
        font-size: 40px;
    }

    .container-sobre p{
        font-size: 16px;
    }

    .card-header h4{
        font-size: 16px;
    }

    .card-footer a {
        padding: 6px 20px;
        font-size: 13px;
    }
    #menu {
        display: block;
        transition: 0.6s;
        width: 100%;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    
    #nav.active #menu {
        height: 36vh;
        visibility: visible;
        overflow-y: auto;
    }
    
    #menu a {
        border-bottom: 2px solid rgba(0, 0, 0, 0.05);
    }
    
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: var(--primary);
    }
    
    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }
    
    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    
    #nav.active #hamburger {
        border-top-color: transparent;
    }
    
    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }
    
    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

@media(max-width: 600px){

    .container-card-ferramentas{
        grid-template-columns: repeat(2, 1fr);
    }

    .apresentacao{
        flex-direction: column;
        justify-content: space-evenly;
        padding-top: 50px;
    }

    .flex{
        flex-direction: column;
    }

    .sobre1.flex{
        flex-direction: column-reverse;
    }

    footer{
        flex-direction: column;
        gap: 20px;
    }

}